.tour-banner {
  padding: 30px;
  background-color: #fff;
  &__image {
    border-radius: 10px;
    box-shadow: 0 3px 20px 1px #1A2B48;
    margin: auto;
    max-width: 35%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

}